@page "/admin/roles"
@using Askstatus.Common.Users
@attribute [Authorize(Permissions.ViewUsers | Permissions.ManageUsers)]

<PageTitle>Askstatus - Roles</PageTitle>
<div>
    <MudChip T="string" Label="true" Color="Color.Info" Icon="@Icons.Material.Filled.FeaturedPlayList">Roles</MudChip>
</div>
<FlexibleAuthorizeView Permissions="@Permissions.ManageRoles">
    <Authorized>
        @{
            UserGotNoRights = false;
        }
    </Authorized>
    <NotAuthorized>
        @{
            UserGotNoRights = true;
        }
    </NotAuthorized>
</FlexibleAuthorizeView>
<MudDataGrid Items="@Roles">
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="Name" />
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudButton Disabled=@UserGotNoRights StartIcon="@Icons.Material.Filled.Edit" @onclick="() => AddEditRole(context.Item, false)" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Edit</MudButton>
                    <MudButton Disabled=@UserGotNoRights StartIcon="@Icons.Material.Filled.Delete" @onclick="() => DeleteRole(context.Item)" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Warning">Delete</MudButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
<div class="d-flex flex-wrap mt-4 justify-end">
    <MudButton Disabled=@UserGotNoRights StartIcon="@Icons.Material.Filled.Add" @onclick="() => AddEditRole(new RoleDto(), true)" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Success">Add</MudButton>
</div>