@page "/"
@using System.Globalization
@attribute [Authorize]

<PageTitle>Askstatus - Dashboard</PageTitle>
<FlexibleAuthorizeView Permissions="@(Permissions.ConfigurePowerDevices | Permissions.ViewSensors)">
    <Authorized>
        @{
            UserGotNoRights = false;
        }
    </Authorized>
    <NotAuthorized>
        @{
            UserGotNoRights = true;
        }
    </NotAuthorized>
</FlexibleAuthorizeView>
<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Devices</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        @if(UserGotNoRights)
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Devices" Color="@HubIsConnectedColor" />
                        }
                        else
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Devices" Href="admin/devices" Color="@HubIsConnectedColor" />
                        }
                    </CardHeaderActions>
                </MudCardHeader>
                @foreach (var device in Devices)
                {
                    <MudCardContent>
                        <MudGrid>
                            <MudItem Style="width: 100%">
                                <MudPaper Elevation="2" Class="pa-4" >
                                    @{
                                        Color stateColor = device.IsOnline ? device.State ? Color.Success : Color.Warning : Color.Error;
                                        string stateIcon = AskstatusIcons.ChanelTypeStateToIcon(device.ChanelType, device.State);
                                        bool prossesing = device.Prosessing;
                                    }
                                    <MudTooltip Text="@(device.IsOnline ? device.State ? "Click to turn off" : "Click to turn on" : "Offline")">
                                        <MudIconButton Variant="Variant.Outlined" Disabled="@(prossesing || !(device.IsOnline))" Icon="@stateIcon" Color="@stateColor" aria-label="delete" Size="Size.Medium" @onclick="() => ToggleDevice(device.Id)" />
                                    </MudTooltip>
                                    <MudChip T="string" Variant="Variant.Outlined" Color="@stateColor"><span>@device.Name is @(device.IsOnline ? device.State ? "On" : "Off" : "offline")</span></MudChip>
                                    
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                }
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="8">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Sensors</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        @if (UserGotNoRights)
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Sensors" Color="@HubIsConnectedColor" />
                        }
                        else
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Sensors" Href="admin/sensors" Color="@HubIsConnectedColor" />
                        }
                    </CardHeaderActions>
                </MudCardHeader>
                @foreach (var sensor in GroupedSensors)
                {
                    <MudCardContent>
                        <MudGrid>
                            <MudItem>
                                <MudText>@sensor.Key</MudText>
                                <MudStack Row="true" Wrap="Wrap.Wrap">
                                    @foreach (var sensorValue in sensor)
                                {
                                    <MudPaper Elevation="2" Class="pa-4">
                                        @{
                                            string sensorIcon = AskstatusIcons.SensorTypeToIcon(sensorValue.SensorType);
                                            Color sensorColor = DateTime.UtcNow - sensorValue.LastUpdate < TimeSpan.FromMinutes(SensorLastUpdateTimeSpanMinutes) ? Color.Success : Color.Warning;
                                        }
                                        <MudTooltip Text="@GetSensorToolTip(sensorValue)">
                                            <MudChip T="string" Variant="Variant.Outlined" Icon="@sensorIcon" Color="@sensorColor"><span>@sensorValue.Value</span></MudChip>
                                        </MudTooltip>
                                    </MudPaper>
                                }
                                </MudStack>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                }
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>
