@inherits LayoutComponentBase
@using Askstatus.Web.App.Themes
<MudThemeProvider @ref="@_mudThemeProvider" IsDarkMode="@_isDarkMode" Theme="AskStatusThemes.Flatlytheme" />

<MudPopoverProvider />
<MudDialogProvider BackdropClick="false" />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="margin-left: 0px; width: 100%">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudLink Typo="Typo.h5" Underline="Underline.None" Href="/" Color="Color.Inherit" Class="d-none d-sm-flex ml-3">Askstatus</MudLink>
        <MudSpacer />
        <LoginDisplay />
        <MudTooltip Text="Toggle Dark/Light Mode ">
            <MudIconButton Icon="@(_isDarkMode ? Icons.Material.Filled.ModeNight : Icons.Material.Filled.WbSunny)" Color="Color.Inherit" OnClick="@DarkModeToggle"/>
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer Class="mud-container mud-container-maxwidth-false mud-container--gutters mt-16 px-8">
            <div class="content" style="padding-bottom:60px">
                @Body
            </div>
        </MudContainer>
    </MudMainContent>
    <MudAppBar Elevation="1" Style="top: auto; bottom: 0; margin-left: 0px; width: 100%" Dense="true" Fixed="true">
        <MudGrid Justify="Justify.Center" Style="margin-top:0; margin-left: 0;">
            <MudText>© 2024 - <a style="color: white" href="http://promarmic.se" rel="nofollow" target="_blank">Askstatus</a> Version @Version @AspDotnetVersion</MudText>
        </MudGrid>
    </MudAppBar>
</MudLayout>
