@page "/admin/devices"
@attribute [Authorize(Permissions.ViewPowerDevices | Permissions.ConfigurePowerDevices)]

<PageTitle>Askstatus - Devices</PageTitle>
<div>
    <MudChip T="string" Label="true" Color="Color.Info" Icon="@Icons.Material.Filled.Devices">Devices</MudChip>
</div>
<FlexibleAuthorizeView Permissions="@Permissions.ConfigurePowerDevices">
    <Authorized>
        @{
            UserGotNoRights = false;
        }
    </Authorized>
    <NotAuthorized>
        @{
            UserGotNoRights = true;
        }
    </NotAuthorized>
</FlexibleAuthorizeView>

<MudDataGrid Items="@PowerDevices">
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="Name" />
        <PropertyColumn Property="x => x.HostName" Title="Host/IP" />
        <PropertyColumn Property="x => x.DeviceId" Title="Device id" />
        <TemplateColumn Title="Channel type">
            <CellTemplate>
                <MudIcon Icon="@AskstatusIcons.ChanelTypeToIcon(context.Item.ChanelType)" Title="@context.Item.ChanelType.ToString()"></MudIcon>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudButton Disabled=@UserGotNoRights StartIcon="@Icons.Material.Filled.Edit" @onclick="() => EditDevice(context.Item)" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Edit</MudButton>
                    <MudButton Disabled=@UserGotNoRights StartIcon="@Icons.Material.Filled.Delete" @onclick="() => DeleteDevice(context.Item)" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Warning">Delete</MudButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
<div class="d-flex flex-wrap mt-4 justify-end gap-3">
    <MudButton Disabled=@UserGotNoRights StartIcon="@Icons.Material.Filled.PermDeviceInformation" @onclick="() => DiscoverDevices()" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Success">Discover devices</MudButton>
    <MudButton Disabled=@UserGotNoRights StartIcon="@Icons.Material.Filled.OnDeviceTraining" @onclick="() => DiscoverAllDevices()" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Success">Discover all devices</MudButton>
    <MudButton Disabled=@UserGotNoRights StartIcon="@Icons.Material.Filled.DeviceUnknown" @onclick="() => DiscoverDevice()" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Success">Discover device</MudButton>
</div>